// Custom styles.
body {
  background:url(http://ou6yob3zd.bkt.clouddn.com/20170807224530.jpg);
  background-attachment: fixed;
}

// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 0px;
   margin-bottom: 50px;
   padding: 20px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
  